# gin mode : debug, release, test
GIN_MODE=debug
GIN_PORT=8080

#DB
DB_HOST=localhost
DB_PORT=5432
DB_NAME=technical-test-icon-pln
DB_USERNAME=postgres
DB_PASSWORD=123456
DB_TZ=Asia/Jakarta

# database log levels: info, warn, error
DB_LOG_LEVEL=warn

#MIGRATE
DB_MIGRATE=true